html {
    box-sizing:border-box;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

.mark-header {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid red;
    height:300px;
    overflow: hidden;
}

.mark-header__image {
    width:100%;
    height: auto;
}

.mark-header__content {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    color:#fff;
}

.mark-header__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background:linear-gradient(to bottom, #000, transparent);   
}
